<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hydq.oa.dao.PermissionMapper" >
    <resultMap id="BaseResultMap" type="com.hydq.oa.entity.Permission" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="is_visible" property="isVisible" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, key, description, is_visible, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_hydq_permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from tb_hydq_permission
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hydq.oa.entity.Permission" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_hydq_permission (key, description, is_visible, 
            create_time)
        values (#{key,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{isVisible,jdbcType=INTEGER}, 
            #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hydq.oa.entity.Permission" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_hydq_permission
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="key != null" >
                key,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="isVisible != null" >
                is_visible,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="key != null" >
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isVisible != null" >
                #{isVisible,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hydq.oa.entity.Permission" >
        update tb_hydq_permission
        <set >
            <if test="key != null" >
                key = #{key,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="isVisible != null" >
                is_visible = #{isVisible,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hydq.oa.entity.Permission" >
        update tb_hydq_permission
        set key = #{key,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            is_visible = #{isVisible,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>